In [1]:
import subprocess
import os
from parsons import Redshift, Table
import json
rs = Redshift()

In [3]:
dd_tables = rs.query('select * from tmc_van.data_dictionary_tables')

In [4]:
dd_columns = rs.query('select * from tmc_van.data_dictionary_columns')

In [65]:
all_tables = rs.get_tables('tmc_van').select_rows(lambda row: 'tsm_tmc_' in row.tablename)

rs_table_utilities INFO Retrieving tables info.

In [137]:
vf_tables = all_tables.select_rows(lambda row: '_vf' in row.tablename)#['tablename']
vf_tables.sort()

{'schemaname': 'tmc_van', 'tablename': 'tsm_tmc_codes_vf', 'tableowner': 'csbottmc', 'tablespace': None, 'hasindexes': True, 'hasrules': False, 'hastriggers': False}
{'schemaname': 'tmc_van', 'tablename': 'tsm_tmc_contactsactivistcodes_vf', 'tableowner': 'csbottmc', 'tablespace': None, 'hasindexes': True, 'hasrules': False, 'hastriggers': False}
{'schemaname': 'tmc_van', 'tablename': 'tsm_tmc_contactscodes_vf', 'tableowner': 'csbottmc', 'tablespace': None, 'hasindexes': True, 'hasrules': False, 'hastriggers': False}
{'schemaname': 'tmc_van', 'tablename': 'tsm_tmc_contactscontacts_vf', 'tableowner': 'csbottmc', 'tablespace': None, 'hasindexes': True, 'hasrules': False, 'hastriggers': False}
{'schemaname': 'tmc_van', 'tablename': 'tsm_tmc_contactsnotes_vf', 'tableowner': 'csbottmc', 'tablespace': None, 'hasindexes': True, 'hasrules': False, 'hastriggers': False}
...

In [73]:
other_tables = ['tsm_tmc_users',
 'tsm_tmc_usersusergroups',
'tsm_tmc_committees',
'tsm_tmc_activistcodes',
'tsm_tmc_surveyquestions',
 'tsm_tmc_surveyresponses']

In [87]:
vf_types = []
for y in [x for x in vf_tables if '_vf' in x]:
    cols = rs.get_columns_list("tmc_van",y)
    cols = [x for x in cols if 'type' in x]
    vf_types = vf_types + cols
type_tables = [x.replace('id','s') for x in list(set(vf_types))]

type_tables = ['tsm_tmc_'+x for x in type_tables]

In [88]:
tables = [x.replace('_vf','') for x in vf_tables] + other_tables + type_tables
tables.sort()

In [97]:
schema = 'tmc_van'
args = f""" "schema_name": "{schema}", "generate_columns": "true", "table_names": {json.dumps(tables)}"""        
args = "{"+args+"}"
cmd = f"""dbt run-operation generate_source --args '{args}'"""
result = subprocess.run(cmd, shell=True, capture_output=True, text=True)
code = result.stdout

In [119]:
yml = "version: 2"+"\n"+"\n"+'sources:' + code.split("\n",2)[2].split('sources:')[1]
yml = yml.replace('tsm_tmc_','').replace('sources:','definitions:').replace('name: tmc_van', 'van_source_template: &van_source_template')

In [121]:
f = open(f"models/base/src_template.yml", "a")
f.write(yml)
f.close()

In [143]:
def get_id_column_name(schema, tables, search_columns):
    """
    Description:
        Given a list of Redshift tables, figures out the ID column for each table.
    Args:
        tables: list
            List of tables, from Redshift.get_tables()
        search_columns: list
            List of possible ID column names
    Returns:
        Dict that maps table names to ID columns
    """
    rs = Redshift()
    tbl_and_id_col = {}
    for table in tables:
        table_cols = rs.get_columns_list(schema, table)
        for col in search_columns:
            clean_table = table.replace('tsm_tmc_','').replace('_vf','')
            if col in table_cols:
                tbl_and_id_col[clean_table] = col
                break
            else:
                tbl_and_id_col[clean_table] = None

    return tbl_and_id_col

In [144]:
COMMITTEE_COLS = ['committeeid','committeecreatedby','createdbycommitteeid','createdcommitteeid','personcommitteeid']
tbl_and_cmte_col = get_id_column_name('tmc_van',vf_tables['tablename']+other_tables, COMMITTEE_COLS)

In [152]:
template = """
WITH base AS (

    {brackets_open}
        union_all_by_var(
            source_variable='van',
            default_source_table='{table}',
            source_tables_variable='{table}'
        )
    {brackets_close}

)

, segment_by AS (

    SELECT
        *{committee}

    FROM base
)


SELECT 
    *,
    {brackets_open} 
    staging_metadata_fields(
        vendor='van',
        segment_by_column='committeeid',
        segment_primary_keys=['{key}']
    ) 
    {brackets_close}
FROM segment_by
"""

brackets_open = "{{"
brackets_close = "}}"
vendor = 'van'
for table in tables:
    if 'types' not in table:
        segment_by = tbl_and_cmte_col[table]
        committee = f"""
        ", {segment_by} as committeeid""" if (segment_by is not None and segment_by!='committeeid') else ""
        segment_by = 'NULL' if not segment_by else segment_by
    else:
        segment_by = 'NULL'
    key = table[:-1]+'id'
    sql = template.format(table=table, segment_by=segment_by, 
                          brackets_open=brackets_open, brackets_close=brackets_close,
                          committee=committee, key=key)
    #f = open(f"models/base/{vendor}/base_{vendor}__{table}.sql", "a")
    #f.write(sql)
    #f.close()

In [153]:
print(sql)

WITH base AS (

    {{
        union_all_by_var(
            source_variable='van',
            default_source_table='usersusergroups',
            source_tables_variable='usersusergroups'
        )
    }}

)

, segment_by AS (

    SELECT
        *,

    FROM base
)


SELECT
    *,
    {{
    staging_metadata_fields(
        vendor='van',
        segment_by_column='committeeid',
        segment_primary_keys=['usersusergroupid']
    )
    }}
FROM segment_by